@use "../abstracts" as *;
.homepage {
  width: 100%;
  position: relative;
  &__first {
    width: 100%;
    height: 100%;

    background: $main1;
    &__image {
      @include align(flex, center, center, 80%);
      img {
        width: 80%;
        height: auto;
        margin-top: 5%;
      }
    }
    &__content {
      width: 100%;
      margin: 1% 20% 3% 20%;
      font-size: 1.4rem;
      font-weight: 900;
      text-transform: uppercase;
      @include align(flex, space-between, center, 100%);
      @include responsive(large) {
        margin: 1% 20% 3% 20%;
      }
      @include responsive(medium) {
        margin: 1% 2% 3% 2%;
      }
      @include responsive(small) {
        font-size: 1rem;
        margin: 1% 2% 3% 2%;
      }
      @include responsive(xsmall) {
        font-size: 0.8rem;
        margin: 1% 2% 3% 2%;
      }
      :nth-child(1) {
        padding: 10px 30px;
        border: solid 3px black;
        border-radius: 30px;
        position: relative;
        font-weight: 900;
        &:hover {
          cursor: pointer;
        }
        @include responsive(small) {
          padding: 7px 21px;
        }
        @include responsive(xsmall) {
          padding: 5px 15px;
        }
      }
      :nth-child(5) {
        font-weight: 900;
        padding: 10px 30px;
        border: solid 3px black;
        border-radius: 30px;
        position: relative;
        &:hover {
          cursor: pointer;
        }
        @include responsive(small) {
          padding: 7px 21px;
        }
        @include responsive(xsmall) {
          padding: 5px 15px;
        }
      }
      :nth-child(3) {
        font-weight: 900;
        width: 17%;
        text-align: center;
        padding: 7px;
        border-top: solid 5px black;
        border-bottom: solid 5px black;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  &__second {
    width: 100%;
    margin-top: -2%;
    @include responsive(large) {
    }
    @include responsive(medium) {
      margin-top: -3%;
    }
    @include responsive(small) {
      margin-top: -4%;
    }
    @include responsive(xsmall) {
      margin-top: -5%;
    }
    &__content {
      width: 40%;
      color: $white;
      padding: 10% 0 10% 10%;
      @include responsive(large) {
        width: 50%;
      }
      @include responsive(medium) {
        width: 60%;
      }
      @include responsive(small) {
        padding: 10% 10% 10% 10%;
        width: 80%;
      }
      @include responsive(xsmall) {
        padding: 10% 10% 10% 10%;
        width: 100%;
      }
      h1 {
        letter-spacing: 3px;
        font-size: 4rem;
        font-weight: 900;
        @include responsive(small) {
          font-size: 3.5rem;
        }
        @include responsive(xsmall) {
          font-size: 3rem;
        }
      }
      p {
        margin-top: 5%;
        font-size: 2rem;
        line-height: 3rem;
        @include responsive(small) {
          line-height: 2.5rem;
          font-size: 1.8rem;
        }
        @include responsive(xsmall) {
          line-height: 2rem;
          font-size: 1.4rem;
        }
      }
    }
  }
  &__third {
    width: 100%;
    height: auto;
    background: $main3;
    &__heading {
      margin: auto;
      padding: 7% 0 0 0;
      width: 40%;
      color: #f96400;
      height: auto;
      margin-bottom: 3%;
      @include responsive(large) {
        margin-bottom: 5%;
      }
      @include responsive(medium) {
        width: 65%;

        margin-bottom: 7%;
      }
      @include responsive(small) {
        width: 95%;

        margin-bottom: 10%;
      }
      @include responsive(xsmall) {
        width: 95%;
        margin-bottom: 13%;
      }
      h1 {
        font-size: 5rem;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-align: center;

        @include responsive(small) {
          font-size: 3.2rem;
        }
        @include responsive(xsmall) {
          font-size: 2.6rem;
        }
      }
      p {
        text-align: center;
        margin-top: 5%;
        font-size: 2rem;
        line-height: 3rem;
        @include responsive(small) {
          font-size: 1.8rem;
          line-height: 2.5rem;
        }
        @include responsive(xsmall) {
          font-size: 1.4rem;
          line-height: 2rem;
        }
      }
    }
    &__content {
      height: 67%;
      padding-bottom: 10%;
      &__items {
        width: 84%;
        height: 100%;
        display: flex;
        margin-left: 8%;
        @include responsive(medium) {
          width: 90%;

          margin-left: 5%;
        }

        &__item {
          width: 33%;
          height: 100%;
          position: relative;
          @include responsive(large) {
            margin-bottom: 5%;
          }
          @include responsive(medium) {
            width: 50%;

            margin-bottom: 10%;
          }
          @include responsive(small) {
            width: 100%;
            margin-bottom: 15%;
          }
          @include responsive(xsmall) {
            width: 100%;
            margin-bottom: 20%;
          }
          img {
            width: 100%;
            height: 50rem;
            object-fit: cover;
          }
          &__count {
            position: absolute;
            top: -3.9rem;
            left: 0rem;
            padding: 2.4rem;
            background: radial-gradient(orange 62%, transparent 61%),
              url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-97 -3 256 262' width='256' stroke-dasharray='45, 35' stroke='black' stroke-width='7' fill='orange'><polygon points='48,16 32,0 16,16' /><polygon points='48,240 16,240 32,256' stroke-dashoffset='-32' /></svg>"),
              url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-97 -3 256 262' width='256' stroke-dasharray='45, 35' stroke='black' stroke-width='7' fill='orange' style='transform:rotate(16.36deg);'><polygon points='48,16 32,0 16,16' /><polygon points='48,240 16,240 32,256' stroke-dashoffset='-32' /></svg>"),
              url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-97 -3 256 262' width='256' stroke-dasharray='45, 35' stroke='black' stroke-width='7' fill='orange' style='transform:rotate(32.73deg);'><polygon points='48,16 32,0 16,16' /><polygon points='48,240 16,240 32,256' stroke-dashoffset='-32' /></svg>"),
              url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-97 -3 256 262' width='256' stroke-dasharray='45, 35' stroke='black' stroke-width='7' fill='orange' style='transform:rotate(49.09deg);'><polygon points='48,16 32,0 16,16' /><polygon points='48,240 16,240 32,256' stroke-dashoffset='-32' /></svg>"),
              url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-97 -3 256 262' width='256' stroke-dasharray='45, 35' stroke='black' stroke-width='7' fill='orange' style='transform:rotate(65.45deg);'><polygon points='48,16 32,0 16,16' /><polygon points='48,240 16,240 32,256' stroke-dashoffset='-32' /></svg>"),
              url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-97 -3 256 262' width='256' stroke-dasharray='45, 35' stroke='black' stroke-width='7' fill='orange' style='transform:rotate(81.81deg);'><polygon points='48,16 32,0 16,16' /><polygon points='48,240 16,240 32,256' stroke-dashoffset='-32' /></svg>"),
              url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-97 -3 256 262' width='256' stroke-dasharray='45, 35' stroke='black' stroke-width='7' fill='orange' style='transform:rotate(98.18deg);'><polygon points='48,16 32,0 16,16' /><polygon points='48,240 16,240 32,256' stroke-dashoffset='-32' /></svg>"),
              url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-97 -3 256 262' width='256' stroke-dasharray='45, 35' stroke='black' stroke-width='7' fill='orange' style='transform:rotate(114.54deg);'><polygon points='48,16 32,0 16,16' /><polygon points='48,240 16,240 32,256' stroke-dashoffset='-32' /></svg>"),
              url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-97 -3 256 262' width='256' stroke-dasharray='45, 35' stroke='black' stroke-width='7' fill='orange' style='transform:rotate(130.90deg);'><polygon points='48,16 32,0 16,16' /><polygon points='48,240 16,240 32,256' stroke-dashoffset='-32' /></svg>"),
              url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-97 -3 256 262' width='256' stroke-dasharray='45, 35' stroke='black' stroke-width='7' fill='orange' style='transform:rotate(147.27deg);'><polygon points='48,16 32,0 16,16' /><polygon points='48,240 16,240 32,256' stroke-dashoffset='-32' /></svg>"),
              url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-97 -3 256 262' width='256' stroke-dasharray='45, 35' stroke='black' stroke-width='7' fill='orange' style='transform:rotate(164.2deg);'><polygon points='48,16 32,0 16,16' /><polygon points='48,240 16,240 32,256' stroke-dashoffset='-32' /></svg>");
            background-size: 100% 100%;
            border-radius: 50%;
            font-size: 3rem;
            font-weight: 700;
            text-decoration: underline 2px;
            overflow: hidden;
          }
          &__details {
            position: absolute;
            width: 70%;
            left: 15%;
            bottom: -4.5rem;
            @include align(flex, space-between, center, none);
            border: solid 3px black;
            background: $white;

            font-size: 2rem;
            font-weight: 900;
            @include responsive(large) {
              width: 80%;
              left: 10%;
              bottom: -3rem;
            }
            @include responsive(medium) {
              width: 90%;
              left: 5%;
              bottom: -3rem;
            }
            @include responsive(small) {
              font-size: 1.8rem;
              width: 80%;
              left: 10%;
              bottom: -3rem;
            }
            @include responsive(xsmall) {
              width: 80%;
              left: 10%;
              bottom: -3rem;
              font-size: 1.4rem;
            }
            p {
              width: 70%;
              padding: 1.5rem 2.5rem;
              @include responsive(large) {
                width: 80%;
              }
            }
            button {
              padding: 1.5rem;
              border-radius: 50%;
              background: #000;
              color: $white;
              overflow: hidden;
              margin-right: 1rem;
              font-size: 2rem;
              font-weight: 900;
              &:hover {
                cursor: pointer;
              }
              @include responsive(small) {
                font-size: 1.8rem;
              }
              @include responsive(xsmall) {
                font-size: 1.4rem;
              }
            }
          }
        }
      }
    }
  }
  &__four {
    width: 100%;
    margin: 8% 0;
    &__item {
      width: 20%;
      padding: 0 0.5%;
      margin: 2% 0;
      @include responsive(large) {
        width: 25%;
      }
      @include responsive(medium) {
        width: 33%;
      }
      @include responsive(small) {
        width: 50%;
      }
      @include responsive(xsmall) {
        width: 50%;
      }
      &__image {
        position: relative;
        width: 100%;
        overflow: hidden;
        &:before {
          content: "";
          display: block;
          padding-top: 100%;
        }
        img {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
        }
      }
      &__details {
        h2 {
          margin: 2rem 0;
          font-size: 2rem;
          a {
            color: $black;
          }
        }
        &__end {
          font-size: 1.6rem;

          font-weight: 400;
          @include align(flex, space-between, center, 100%);
          div {
            @include align(flex, space-between, center, 100%);
          }
        }
      }
    }
    &__button {
      width: 100%;
      @include align(flex, center, center, 100%);
      button {
        @include button(
          $white,
          $white,
          $black,
          2.3rem,
          solid,
          5px,
          1.5rem,
          3.5rem
        );
        text-transform: uppercase;
        margin-top: 5%;
        @include responsive(small) {
          font-size: 1.8rem;
          padding: 1.2rem 2.4rem;
        }
        @include responsive(xsmall) {
          font-size: 1.4rem;
          padding: 1rem 2rem;
        }
      }
    }
  }
  &__five {
    width: 100%;
    height: 97%;
    &__heading {
      margin: auto;
      padding: 7% 0 0 0;
      width: 40%;
      color: #fcd426;
      height: 33%;
      margin-bottom: 3%;
      @include responsive(large) {
        margin-bottom: 5%;
      }
      @include responsive(medium) {
        width: 65%;

        margin-bottom: 7%;
      }
      @include responsive(small) {
        width: 95%;

        margin-bottom: 10%;
      }
      @include responsive(xsmall) {
        width: 95%;
        margin-bottom: 13%;
      }
      h1 {
        font-size: 5rem;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-align: center;
      }
      p {
        text-align: center;
        margin-top: 5%;
        font-size: 2rem;
        line-height: 3rem;
      }
    }
    &__content {
      margin: 3.2% 11%;
      border-top: solid 25px black;
      display: flex;
      padding-bottom: 10%;
      @include responsive(medium) {
        margin: 3.2% 6%;
      }
      @include responsive(small) {
        margin: 3.2% 6%;
      }
      @include responsive(xsmall) {
        margin: 3.2% 4%;
      }
      &__left {
        width: 50%;
        border: solid 3px black;
        border-right: none;

        @include responsive(small) {
          border-right: solid 3px black;
          height: 35rem;
          width: 100%;
        }
        @include responsive(xsmall) {
          border-right: solid 3px black;
          height: 35rem;
          width: 100%;
        }
        h2 {
          font-weight: 400;
          margin-top: 3%;
          text-align: center;
          font-size: 3rem;
          @include responsive(small) {
            font-size: 2.8rem;
          }
          @include responsive(xsmall) {
            font-size: 2.6rem;
          }
        }
      }
      &__right {
        width: 50%;
        background: $white;
        border: solid 3px black;
        padding: 4% 3%;
        @include responsive(small) {
          width: 100%;
        }
        @include responsive(xsmall) {
          width: 100%;
        }
        h2 {
          font-size: 3rem;
          font-weight: 900;
          text-transform: uppercase;
          @include responsive(small) {
            font-size: 2.8rem;
          }
          @include responsive(xsmall) {
            font-size: 2.6rem;
          }
        }
        p {
          font-size: 2rem;
          line-height: 2.6rem;
          margin: 4% 0;
          @include responsive(small) {
            font-size: 1.8rem;

            line-height: 2.4rem;
          }
          @include responsive(xsmall) {
            line-height: 2rem;
            font-size: 1.4rem;
          }
        }
        button {
          @include button(
            $white,
            $white,
            $black,
            2.3rem,
            solid,
            5px,
            1.5rem,
            3.5rem
          );
          text-transform: uppercase;

          @include responsive(small) {
            font-size: 1.8rem;
            padding: 1.2rem 2.4rem;
          }
          @include responsive(xsmall) {
            font-size: 1.4rem;
            padding: 1rem 2rem;
          }
        }
      }
    }
  }
  &__six {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: -3%;
    &__image {
      @include align(flex, center, center, 100%);
      padding-bottom: 3%;

      img {
        width: 100%;
        height: auto;
        @include responsive(large) {
          height: 80rem;
        }
        @include responsive(medium) {
          height: 65rem;
        }
        @include responsive(small) {
          height: 60rem;
        }
        @include responsive(xsmall) {
          height: 55rem;
        }
      }
    }

    &__heading {
      position: absolute;
      width: 40%;
      height: auto;
      left: 30%;
      top: 12%;
      @include responsive(large) {
        top: 10%;
        left: 20%;
        width: 60%;
      }
      @include responsive(medium) {
        top: 8%;
        left: 15%;
        width: 70%;
      }
      @include responsive(small) {
        top: 6%;
        left: 5%;
        width: 90%;
      }
      @include responsive(xsmall) {
        top: 6%;
        left: 5%;
        width: 90%;
      }
      h1 {
        font-size: 5rem;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-align: center;
        @include responsive(medium) {
          font-size: 4rem;
        }
        @include responsive(small) {
          font-size: 3.5rem;
        }
        @include responsive(xsmall) {
          font-size: 3rem;
        }
      }
      p {
        text-align: center;
        margin-top: 5%;
        font-size: 2rem;
        line-height: 3rem;
        @include responsive(small) {
          margin-top: 4%;
          font-size: 1.8rem;
          line-height: 2.4rem;
        }
        @include responsive(xsmall) {
          margin-top: 3%;
          font-size: 1.4rem;
          line-height: 2rem;
        }
      }
      button {
        @include button(
          #fcd426,
          #fcd426,
          $black,
          2.3rem,
          solid,
          5px,
          1.5rem,
          3.5rem
        );
        text-transform: uppercase;
        margin: 5% 30% 8% 30%;
        @include responsive(large) {
          margin: 5% 35% 8% 35%;
        }
        @include responsive(medium) {
          margin: 5% 33% 8% 33%;
        }
        @include responsive(small) {
          margin: 5% 34% 8% 34%;
          font-size: 1.8rem;
          padding: 1.2rem 2.4rem;
        }
        @include responsive(xsmall) {
          margin: 5% 35% 8% 35%;
          font-size: 1.4rem;
          padding: 1rem 2rem;
        }
      }
    }
  }
  &__seven {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: -3%;
    &__image {
      @include align(flex, center, center, 100%);
      padding-bottom: 3%;

      img {
        width: 100%;
        height: auto;
        @include responsive(large) {
          height: 80rem;
        }
        @include responsive(medium) {
          height: 65rem;
        }
        @include responsive(small) {
          height: 60rem;
        }
        @include responsive(xsmall) {
          height: 55rem;
        }
      }
    }

    &__heading {
      position: absolute;
      width: 40%;
      height: auto;
      left: 30%;
      top: 10%;
      @include responsive(large) {
        top: 10%;
        left: 20%;
        width: 60%;
      }
      @include responsive(medium) {
        top: 8%;
        left: 10%;
        width: 80%;
      }
      @include responsive(small) {
        top: 6%;
        left: 5%;
        width: 90%;
      }
      @include responsive(xsmall) {
        top: 6%;
        left: 5%;
        width: 90%;
      }
      h1 {
        font-size: 5rem;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-align: center;
        @include responsive(large) {
          font-size: 4.5rem;
        }
        @include responsive(medium) {
          font-size: 4rem;
        }
        @include responsive(small) {
          font-size: 3.5rem;
        }
        @include responsive(xsmall) {
          font-size: 3rem;
        }
      }
      p {
        text-align: center;
        margin-top: 5%;
        font-size: 2rem;
        line-height: 3rem;
        @include responsive(large) {
          margin-top: 3%;
        }
        @include responsive(medium) {
          margin-top: 3%;
        }
        @include responsive(small) {
          margin-top: 4%;
          font-size: 1.8rem;
          line-height: 2.4rem;
        }
        @include responsive(xsmall) {
          margin-top: 3%;
          font-size: 1.4rem;
          line-height: 2rem;
        }
      }
      button {
        @include button(
          $white,
          $white,
          $black,
          2.3rem,
          solid,
          5px,
          1.5rem,
          3.5rem
        );
        text-transform: uppercase;
        margin: 5% 30% 8% 30%;
        @include responsive(large) {
          margin: 5% 35% 8% 35%;
        }
        @include responsive(medium) {
          margin: 5% 33% 8% 33%;
        }
        @include responsive(small) {
          margin: 5% 34% 8% 34%;
          font-size: 1.8rem;
          padding: 1.2rem 2.4rem;
        }
        @include responsive(xsmall) {
          margin: 5% 35% 8% 35%;
          font-size: 1.4rem;
          padding: 1rem 2rem;
        }
      }
    }
  }
}
