@use "../abstracts" as *;
.navLayer {
  @include position(fixed, 0, 0, 0, 0, 100%, 100%);
  background: rgba(0, 0, 0, 0.6);
  z-index: 3;
}

.toggle-open {
  cursor: pointer;
  z-index: 5;
  display: none;

  @include responsive(small) {
    @include position(fixed, 4.5rem, 3rem, null, null, null, null);
    span:nth-child(1) {
      @include toggleSpans($white, 2.5rem, 0.3rem, null);
    }
    span:nth-child(2) {
      @include toggleSpans($white, 2.5rem, 0.3rem, 0.5rem);
    }
    span:nth-child(3) {
      @include toggleSpans($white, 2.5rem, 0.3rem, 0.5rem);
    }
    display: block;
  }
  @include responsive(xsmall) {
    span:nth-child(1) {
      @include toggleSpans($white, 2.5rem, 0.3rem, null);
    }
    span:nth-child(2) {
      @include toggleSpans($white, 2.5rem, 0.3rem, 0.5rem);
    }
    span:nth-child(3) {
      @include toggleSpans($white, 2.5rem, 0.3rem, 0.5rem);
    }
    @include position(fixed, 4.5rem, 3rem, null, null, null, null);
    display: block;
  }
}

.toggle-close {
  cursor: pointer;
  z-index: 5;
  @include responsive(small) {
    @include position(fixed, 4.5rem, 3rem, null, null, null, null);
    span:nth-child(1) {
      @include toggleSpans($white, 3rem, 1.5px, 0.5rem);
      transform: rotate(-45deg) translateY(0.5rem);
    }
    span:nth-child(2) {
      display: none;
    }
    span:nth-child(3) {
      @include toggleSpans($white, 3rem, 1.5px, 0.5rem);
      transform: rotate(45deg) translateY(-0.5rem);
    }
    display: block;
  }
  @include responsive(xsmall) {
    @include position(fixed, 4.5rem, 3rem, null, null, null, null);
    span:nth-child(1) {
      @include toggleSpans($white, 3rem, 1.5px, 0.5rem);
      transform: rotate(-45deg) translateY(0.5rem);
    }
    span:nth-child(2) {
      display: none;
    }
    span:nth-child(3) {
      @include toggleSpans($white, 3rem, 1.5px, 0.5rem);
      transform: rotate(45deg) translateY(-0.5rem);
    }

    display: block;
  }
}
