$white: #fff;
$black: #090909;
$blackDark: #1c1d1f;
$main1: #eb470b;
$main2: #fff;
$main3: #fcd426;
$silver: #7f8c8d;
$silverDark: #777;
$silverlight: #aaa;
$silverLight-50: #d4cfcf;
$silverLight-45: #e2e4eb;
$silverLight-40: #f6f6fb;
$orange: #fbbf24;
$green: #34d399;
$arrow-color: #e74c3c;
$arrow-size: 1em;
$arrow-border: 0.3em;
